<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/editTask.css">
</head>

<body>
    <div class="container">
        <div class="task">
            <form id="editForm">
                <input type="text" id="description" class="input">
                <select id="completed">
                    <option value="true">Completed</option>
                    <option value="false">Uncompleted</option>
                </select>
                <button class="button">Submit change</button>
            </form>
            <button id="deleteTask" class="button">Delete this task</button>
        </div>
    </div>
    <script src="/js/editTask.js"></script>
</body>

</html>
