<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expensify</title>
    <link rel="icon" type="image/png" href="/public/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="container">
        <div class="register">
            <form class="createuser">
                <div class="createuser--div">
                    <input placeholder="name" class="name input">
                    <input placeholder="e-mail" class="e-mail input">
                    <input placeholder="password" class="password input" type="password">
                </div>
                <div class="register--button">
                    <button class="button">Register</button>
                </div>
            </form>
        </div>
        <div>
            <p class="userexists"></p>
        </div>
        <div class="login">
            <form class="loginuser">
                <div class="loginuser--div">
                    <input placeholder="e-mail" class="e-mail-login input" autofocus>
                    <input placeholder="password" class="password-login input" type="password">
                </div>
                <div class="login--button">
                    <button class="button">Login</button>
                </div>
            </form>
        </div>
        <div>
            <p class="badcredentials"></p>
        </div>
    </div>

    <script src="/js/app.js"></script>
</body>

</html>
