<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/profile.css">
</head>

<body>
    <div class="profile--container">
        <div class="header">
            <div class="header__taskinput">
                <form class="form">
                    <input placeholder="description" class="form__input--taskdescription input" autofocus>
                    {{!-- <input placeholder="completed" class="completed"> --}}
                    <button class="button">Create task</button>
                </form>
            </div>
            <div class="profile">
                <a href="/editprofile">
                    <img src="" alt="" class="image">
                    <p class="profile__name"></p>
                </a>
            </div>

        </div>
        <div id="tasklist">

        </div>


        <div class="footer">
            <div id="footer__pages">

            </div>
            <div class="footer__logout">
                <div class="log">
                    <button id="logout">Logout</button>
                </div>
                <div class="editprofile">
                    <button id="edit">Edit profile</button>
                </div>
            </div>

        </div>
        <script src="/js/profile.js"></script>
    </div>
</body>

</html>